<mat-nav-list>
  <h3 mat-subheader>项目</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>list_alt</mat-icon>
    <h4 mat-line>项目首页</h4>
    <p mat-line> 查看所有项目 </p>
  </mat-list-item>
  <mat-divider></mat-divider>
  <h3 mat-subheader>日历</h3>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="month"></mat-icon>
    <h4 mat-line>月视图</h4>
    <p mat-line> 按月查看你的任务</p>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon  svgIcon="week"></mat-icon>
    <h4 mat-line>周视图</h4>
    <p mat-line> 按周查看你的任务</p>
</mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon  svgIcon="day"></mat-icon>
    <h4 mat-line>日视图</h4>
    <p mat-line> 按日查看你的任务</p>
</mat-list-item>
</mat-nav-list>
