<form>
  <h2 mat-dialog-title>邀请组员:</h2>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input type="text" placeholder="Assignee" matInput [formControl]="myControl" [matAutocomplete]="auto">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button type="button" color="primary" (click)="onSave()">Save</button>
    <button mat-raised-button type="button" mat-dialog-close>Close</button>
  </div>
</form>
<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayUser">
  <mat-option *ngFor="let option of filteredOptions | async" [value]="option">{{option.name}}</mat-option>
</mat-autocomplete>
